body {
  height: 100vh;
  background-color: aquamarine;
  text-align: center;
}

h1 {
  font-size: 60px;
}
.laptop-large,
.laptop,
.tablet,
.mobile {
  font-size: 40px;
  display: none;
}

@media screen and (max-width: 1440px) {
  body {
    background-color: #1414e6;
  }

  .mobile,
  .laptop,
  .tablet {
    display: none;
  }
  .laptop-large {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-color: #29ed1b;
  }

  .laptop-large,
  .mobile,
  .tablet {
    display: none;
  }
  .laptop {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: #ffa600;
  }

  .laptop-large,
  .laptop,
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }
}
@media screen and (max-width: 425px) {
  body {
    background-color: #92c934;
  }

  .laptop-large,
  .laptop,
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }
}
