*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #0f0f10;
    color: #fff;
    margin: 30px 200px;
}

a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;
}

/* header */

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-btn{
    background-color: #1e1e21;
    color: #fff;
    box-shadow: -3px -3px  #808080;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 10px;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo{
    height: 25px;
    width: 25px;
}

/* Main Section */
main{
    display: flex;
    align-items: center;
    height: 90vh;
}

main div{
    width: 50%;
}

.main-img{
    scale: .8;
    margin-left: 13%;
    position: relative;
    top: -220px;
   
}

.main-right{
    text-align: left;
    position: relative;
    margin-top: -100px;
}

.heading{
    font-size: 60px;
    margin-bottom: 25px;
}

.onear{
    padding-left: 50px;
    width: 70%;
}

h4{
    font-size: 25px;
    margin-bottom: 25px;
}

.pra{
    color: #bdc0c2;
    width: 65%;
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 25px;
    font-weight: 300;
}

.main-btn{
    display: flex;
    align-items: center;
    background-color: #1e1e21;
    gap: 20px;
    padding: 10px 25px;
    width: fit-content;
    border-radius: 8px;
}

.main-btn img{
    width: 15px;
}

/* Brands */

.brands{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -50px;
    padding: 0px 50px;
    margin-left: 90px;
    margin-bottom: 50px;
}

/* Specs */

.specs{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.specs-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

/* Specs left */
.specs-left div{
    margin-bottom: 20px;
}

.specs-left div p{
    font-size: 12px;
}

.specs-left div:first-child,
.specs-left div:last-child{
    margin-left: 25px;
} 

.specs-left div p:last-child{
    font-size: 10px;
    margin-top: 5px;
    width: 70%;
    color: #bdc0c2;
}

/* specs right */
.specs-right{
    margin-left: 50px;
}

/* CASE */
.case{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.case-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 100px;
}


.case-left{
    width: 20%;
    scale: 0.8;
}

.case-right{
    width: 20%;
}

.case-right p:first-child{
    width: 90%;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
    color: #bdc0c2;
}

.group{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e21;
    gap: 20px;
    padding: 10px 25px;
    border-radius: 8px;
}

.group p{
    font-size: 15px;
}

.group img{
    scale: 0.8;
}

/* Buy Now */

.buynow{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 50vh;
    width: 60vw;
    margin-left: 100px;
    background-color: #1e1e21;
}

.buynow-left{
    width: 40%;
}

.buynow-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:15px 80px;
}

.buynow-heading{
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}

.buynow-text{
    font-size: 15px;
    color: #bdc0c2;
    padding: 20px 0px;
}

.buynow-btn{
    background-color: #000000;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 25px;
    padding: 15px 30px;
    border-radius: 10px;
}

.buynow-right{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buynow-right img{
    position: relative;
    left: -80px;
}

/* Choose Your Style */

.Product{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.productlogo{
    margin-bottom: 100px;
    scale: 0.7;
}

.product-details{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}


.pdc-img{
    position: relative;
    top: -50px;
    scale: 0.45;
}
.pdc-block{
    height: 180px;
    width: 180px;
    background-color: #181a1b;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pdc-text{
    position: relative;
    top: -120px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 3px 15px;
}

.pdc-beg{
    background-color: #0a0a0b;
    border-radius: 10px;

}

.pdc-beg img{

    height: 35px;
    width: 35px;
    padding: 7px 9px;
}

.pdc-text div p{
    font-size: 15px;
}

.pdc-text div span{
    color: #bdc0c2;
    font-size: 13px;
}

/* Footer */

footer{
    margin-top: 140px;
    margin-bottom: 150px;
    margin-left: 50px;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}

footer ul li{
    margin-bottom: 15px;
}

footer ul li:first-child{
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 400;
}

.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: -10px;
}

.email-main{
    scale: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border-radius: 15px;
    padding: 10px 30px;
    padding-left: 5px;
    background-color: #1e1e21;
}

.email-text{
    background-color: transparent;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 140px;
}
.subscribe{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 30px;
    border-radius: 10px;
    padding: 20px 35px;
    background-color: #0A0A0B;
}
.subscribe p{
    font-size: 20px;
}

.social-meadia{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -150px;
    margin-top: 50px;
    gap: 40px;
    
}

.upArrow{
    position: relative;
    right: -180px;
}